

/* --- */

:root {

}

/* --- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* --- */

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: cornflowerblue;
}
h1{
  font-family:'Courier New', Courier, monospace;
color: cornsilk;
text-shadow: 3px 3px 8px rgba(red, green, blue, alpha)
 

}